<header class="cabecalho " th:fragment="header">
	<nav class="navegacao">
		<!-- VER: https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html -->
		<ul class="barra flex-container">
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Principal </a>
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Capítulos </a>
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Navegar </a>
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Índice </a>
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Ajuda </a>
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Sobre </a>
			<a href="rota/arquivo.html" th:href="@{/rota/rota}" class="item"> Área Restrita </a>
		</ul>
	</nav>
</header>