<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" th:href="@{/css/visualizando/geral.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/visualizando/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/visualizando/article.css}" type="text/css">
    
    <script type="text/javascript" src="ZoomifyImageViewerEnterprise-min.js"></script>

</head>

<body class="overflow-y">

    <header th:replace="~{/fragments/visualizando/header.html :: header}"></header>

    <section layout:fragment="content" class="flex-container flex-direction" th:object="${lamina}">
        <article th:replace="~{/fragments/visualizando/article :: article}"></article>

        <section id="myContainer"></section>

        <!-- CONFIGURAÇÃO ZOOMIFY -->
        <script th:inline="javascript">
            var configs = /*[[${lamina}]]*/ "";
        </script>

        <script type="text/javascript">
            Z.showImage("myContainer",
                //IMAGEM
                configs.rotaPff,
                //LABELS E FUNCIONALIDADES
                // IMPORTANTE -> zAnnotationPath somente reconhece o caminho relativo a partir do diretório static
                configs.rotaXml + "&" +
                "zToolbarVisible=1"
            ); 
        </script>
    </section>

</body>

</html>