.tituloTexto{
    /* color: white;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1094ab;
    margin: 0;
    text-align: center;
    font-weight: bold; */
}

.narrativa{
    
    /* height: 100%;
    max-height: 600px;
    width: 100%;
    max-width: 450px;

    justify-self: center;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 0.1rem;
    line-height: 150%;
    overflow-y: scroll;
    font-size: 15px;
    
    margin: 0;
    border: 0;
    padding: 0; */
}



.textoNarrativa{
    /* margin-left: 10px;
    font-size: 14px; */
}

.item-footer{
    /* position: sticky;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #1094ab;
    text-align: center;
    font-size: 13px;
    font-weight: bold; */
}