.narrativa{    
    overflow-y: auto;
    max-width: 33vw;
    max-height: 93.5vh;
}

.tituloTexto{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #0e567c;
    color: #f2f3ee;
    padding: 2px;
}

.textoNarrativa *{
    
    /* background-color: #dee4e2; */
}

.texto_importado{
    padding: 1rem;
    line-height: 150%;
}

.texto_importado a {
    text-decoration: none;
    color: #0e567c;
}

.item-footer{
    position: sticky;
    bottom: 0;
    text-align: center;
    background-color: #0e567c;
    color: #f2f3ee;
    padding: 2px;
    font-weight: bold;
}
