.cabecalho{
    
    /* margin: 0 0 10px 0; */
    /* box-shadow: 0 10px 10px #dadbd6; */
}

.navegacao{
    
    /* border: 1px solid yellow; */
}

.barra {
    /* border: 1px solid red; */
    padding: 0;
    justify-content: center;
    border-bottom: 2px solid #dee4e2;
}

.item {
    padding: 8px 10px;
    color: #0e567c;
    text-decoration: none;
    transition: 0.2s;
}

.barra a:hover {
    background-color:#dee4e2;
}
