.cabecalho{
    
    font-family: Source Sans Pro SemiBold; /*TESTE DE FONTE PARA CABEÇALHOS, RODAPÉS E TÍTULOS*/
    color: white;
    background-color: #64c4d2;
    padding: 3px;
    border-bottom-color: #fcb421;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    justify-content:space-between;
}